# This is the title of this notebook

## Documentation and Imports


Created on 21/08/2023

Author: Valentin Laplaud

General descritpion of the code here

In [1]:
## Clean up before script start 

for element in dir():

    if element[0:1] != "_":

        del globals()[element]
import gc
gc.collect()

import pandas as pd
import numpy as np
import datetime

 
# importing required libraries
import matplotlib as mpl
import matplotlib.pyplot as plt


COLOR = 'black'
COLOR2 = 'white'

mpl.rcParams['text.color'] = COLOR
mpl.rcParams['axes.labelcolor'] = COLOR
mpl.rcParams['xtick.color'] = COLOR
mpl.rcParams['ytick.color'] = COLOR
mpl.rcParams['axes.edgecolor'] = COLOR
mpl.rcParams['axes.labelsize'] =  'large'

mpl.rcParams["figure.facecolor"] = COLOR2
mpl.rcParams["axes.facecolor"] = COLOR2
mpl.rcParams["savefig.facecolor"] = COLOR2
mpl.rcParams['axes.facecolor'] = COLOR2


import sys

sys.path.append(r'd:\Users\laplaud\Desktop\PostDoc\Code\LaReunionProject\Python')
import VallapFunc_LR as vf
import StatsFunctions_LR as sf

from Main_LR import MonthAvg


DataPath = r'd:/Users/laplaud/Desktop/PostDoc/Data/LaReunionProject'

##  Data management

### Retrieving & storing plant data

In [2]:
# # Loading global data on stations (2022 collect)
# StationData = pd.read_excel(DataPath + '/DataMathieu/Data_globosa_SD3_VL.xlsx',
#                   sheet_name='Données stations normées V2',index_col = 0,
#                   usecols = ['Station','Date', 'Latitude','Longitude','Altitude (m)','Orientation','Verticalité (°C)'])

# StationData.to_csv(DataPath + '/DataCSV/StationData.csv', index_label = 'Station')

In [3]:
# # Loading colonies quantifications based on image analysis
# CupData = pd.read_excel(DataPath + '/DataMathieu/Data_globosa_SD3_VL.xlsx',
#                   sheet_name='Mesure par colonie',index_col = 0,
#                   usecols = ['Nom échantillon','Densité corbeilles (unit/mm²)','Total corbeilles',
#             'Largeur thalle (mm)','Aire corbeille (mm²)', 'Y centroïde-Y centre','Grand diamètre ellipse coupe (mm)',
#             'Pourcentage de lumière sous la canopée (%)','Distance à la plus proche zone apicale (mm)'])

# CupData.to_csv(DataPath + '/DataCSV/CupData.csv', index_label = 'Nom échantillon')

In [4]:
# StationData = pd.read_csv(DataPath + '/DataCSV/StationData.csv',index_col = 'Station')
# CupData = pd.read_csv(DataPath + '/DataCSV/CupData.csv',index_col ='Nom échantillon' )

# FullPlantData2022 = pd.merge(CupData,StationData, left_index=True, right_index=True)


# FullPlantData2022['Latitude (m)'] = FullPlantData2022['Latitude'].apply(lambda x : (x+21.1)*111139)
# FullPlantData2022['Longitude (m)'] = FullPlantData2022['Longitude'].apply(lambda x : (x-55.48)*111139)

# FullPlantData2022.to_csv(DataPath + '/DataCSV/FullPlantData2022.csv', index_label = 'Station')

### Retrieving weather data

List of abreviation : 

Rain quantifications
[RR] = Cumul mensuel des hauteurs de précipitation
[RRAB] = Maxi mensuel des hauteurs de précipitation quotidienne

Temperatures
[TM] = Moyenne mensuelle des temperatures moyennes quotidiennes
[TAMPLIM] = Moyenne mensuelle des amplitudes thermiques

Humidity
[UMM] = Moyenne mensuelle de l'humidité relative moyenne

Sunshine 
[GLOT] = Cumul mensuel du rayonement global

In [5]:
# # Loading 01-2022 to 08-2022 meteological data

# RainData = pd.read_excel(DataPath + '/DataMeteo/Rain2022.xls',
#                   usecols = ['STATION','LATITUDE','LONGITUDE','ALTITUDE','DATE','RR','RRAB'])

# RainData['MONTH'] = RainData['DATE'].apply(lambda x : x.month)

# RainData.to_csv(DataPath + '/DataCSV/RainData2022.csv')


# HumidityData = pd.read_excel(DataPath + '/DataMeteo/Humidity2022.xls',
#                   usecols = ['STATION','LATITUDE','LONGITUDE','ALTITUDE','DATE','UMM'])

# HumidityData['MONTH'] = HumidityData['DATE'].apply(lambda x : x.month)

# HumidityData.to_csv(DataPath + '/DataCSV/HumidityData2022.csv')


# TemperatureData = pd.read_excel(DataPath + '/DataMeteo/Temperatures2022.xls',
#                   usecols = ['STATION','LATITUDE','LONGITUDE','ALTITUDE','DATE','TM','TAMPLIM'])

# TemperatureData['MONTH'] = TemperatureData['DATE'].apply(lambda x : x.month)

# TemperatureData.to_csv(DataPath + '/DataCSV/TemperatureData2022.csv')


# SunshineData = pd.read_excel(DataPath + '/DataMeteo/SunshineLevels2022.xls',
#                   usecols = ['STATION','LATITUDE','LONGITUDE','ALTITUDE','DATE','GLOT'])

# SunshineData['MONTH'] = SunshineData['DATE'].apply(lambda x : x.month)

# SunshineData.to_csv(DataPath + '/DataCSV/SunshineData2022.csv')

### Formating weather data

In [6]:

# SunshineData2022 = pd.read_csv(DataPath + '/DataCSV/SunshineData2022.csv',index_col = 0)

# TemperatureData2022 = pd.read_csv(DataPath + '/DataCSV/TemperatureData2022.csv',index_col = 0)

# HumidityData2022 = pd.read_csv(DataPath + '/DataCSV/HumidityData2022.csv',index_col = 0)

# RainData2022 = pd.read_csv(DataPath + '/DataCSV/RainData2022.csv',index_col = 0)

In [7]:
# # Averaging meteo data over chosen month and pooling all variables in one dataframe

dfs = [SunshineData2022,TemperatureData2022,HumidityData2022,RainData2022]
AllVars = [['GLOT'],['TM','TAMPLIM'],['UMM'],['RR','RRAB']]
monthlist = [1,2,3,4] # 1 - 12 = january - december

WeatherData2022 = MonthAvg(dfs,AllVars,monthlist)

WeatherData2022['Latitude (km)'] = WeatherData2022['LATITUDE'].apply(lambda x : (x+21.1)*111.139)
WeatherData2022['Longitude (km)'] = WeatherData2022['LONGITUDE'].apply(lambda x : (x-55.48)*111.139)
WeatherData2022['Altitude (km)'] = WeatherData2022['ALTITUDE'].apply(lambda x : x/1000)

WeatherData2022.to_csv(DataPath + '/DataCSV/WeatherData2022.csv', index = False)

##  Run analysis

### Load data

In [8]:
WeatherData2022 = pd.read_csv(DataPath + '/DataCSV/WeatherData2022.csv', index_col = 'STATION')

FullPlantData2022 = pd.read_csv(DataPath + '/DataCSV/FullPlantData2022.csv', index_col = 'Station')

### Location of weather station and collection sites

In [9]:
# # for creating a responsive plot
# %matplotlib 
# ax = plt.figure(figsize=(5,5),dpi = 200).add_subplot(projection='3d')

# ax.scatter(WeatherData2022['Longitude (m)']/1000,WeatherData2022['Latitude (m)']/1000,WeatherData2022['ALTITUDE']/1000,label = 'Weather station')
# ax.scatter(FullPlantData2022['Longitude (m)']/1000,FullPlantData2022['Latitude (m)']/1000,FullPlantData2022['Altitude (m)']/1000, label = 'Collection site')

# ax.set_title('(0,0) -> Piton des neiges')
# ax.set_xlabel('Longitude (km)')
# ax.set_xlim([-30,42])
# ax.set_ylabel('Latitude (km)')
# ax.set_ylim([-35,30])
# ax.set_zlabel('Altitude (km)')
# ax.set_zlim([0,6])

# ax.legend()

### Correlations inside plant dataset

In [10]:
# %matplotlib inline

# sf.Corr([FullPlantData2022],['Globosa2022'],columns = ['Latitude','Longitude',
#             'Altitude (m)','Orientation','Verticalité (°C)','Densité corbeilles (unit/mm²)','Total corbeilles',
#             'Largeur thalle (mm)','Aire corbeille (mm²)', 'Y centroïde-Y centre','Grand diamètre ellipse coupe (mm)',
#             'Pourcentage de lumière sous la canopée (%)','Distance à la plus proche zone apicale (mm)'],
#         columnslabels = ['Lat (°)','Long (°)','Alt (m)','Ori','Vert(°)','Density (u/mm²)','Ncup',
#             'ThalWidth (mm)','Cup area (mm²)', 'Incli (Ydiff)','CupDiam (mm)',
#             'CanopyLight (%)','DistApi (mm)'],
#        DataFilter = 'on',SigLvl = 2, CCLvl = 0.0, fsize = 5, dpival = 200, labelscale = 0.7,annotsize = 6)

### Correlation in weather dataset

In [19]:
%matplotlib inline

sf.Corr([WeatherData2022],['Weather2022_jan-apr'],columns = ['Altitude (m)', 'GLOT_AVG','TM_AVG','TAMPLIM_AVG','UMM_AVG','RR_AVG','RRAB_AVG'],
        columnslabels = ['Alt (m)', 'AvgLight','Temp (°C)','Temp Var (°C)','Humidity','Mean rain','Max rain'],corrmethod='spearman',
       DataFilter = 'on',SigLvl = 2, CCLvl = 0.4, fsize = 5, dpival = 200, labelscale = 0.9, annotsize = 8)

KeyError: "['Altitude (m)'] not in index"

## Test Zone

In [12]:
WeatherData2022

,ALTITUDE,LATITUDE,LONGITUDE,M_List,RR_AVG,RRAB_AVG,UMM_AVG,TM_AVG,TAMPLIM_AVG,GLOT_AVG,Latitude (m),Longitude (m)
STATION,,,,,,,,,,,,
97401520,908,-21.212,55.361,"[1, 2, 3, 4]",306.225,94.425,NaN,20.575,6.575,NaN,-12447.568,-13225.541
97401540,180,-21.240,55.328,"[1, 2, 3, 4]",112.125,46.625,NaN,NaN,NaN,52073.75,-15559.460,-16893.128
97402240,480,-21.005,55.623,"[1, 2, 3, 4]",825.050,184.925,89.5,23.825,5.950,38487.50,10558.205,15892.877
97403410,1808,-21.189,55.482,"[1, 2, 3, 4]",465.450,148.725,NaN,16.975,8.275,NaN,-9891.371,222.278
97403435,510,-21.228,55.475,"[1, 2, 3, 4]",341.600,123.600,NaN,23.275,8.975,NaN,-14225.792,-555.695
...,...,...,...,...,...,...,...,...,...,...,...,...
97424450,1067,-21.154,55.438,"[1, 2, 3, 4]",111.450,53.475,NaN,NaN,NaN,NaN,-6001.506,-4667.838
97424460,830,-21.169,55.474,"[1, 2, 3, 4]",125.025,51.600,NaN,NaN,NaN,NaN,-7668.591,-666.834
97412801,13,-21.385,55.610,"[1, 2, 3, 4]",NaN,NaN,NaN,NaN,NaN,39109.25,-31674.615,14448.070
97415591,595,-20.998,55.341,"[1, 2, 3, 4]",NaN,NaN,NaN,NaN,NaN,19379.00,11336.178,-15448.321
97415592,746,-21.069,55.300,"[1, 2, 3, 4]",NaN,NaN,NaN,NaN,NaN,31941.00,3445.309,-20005.020